{{< base }}

{{$ content }}

<div class="container">

    <div class="starter-template">
        <h1>Dropwizard & pac4j Demo</h1>
        <p class="lead">To test, click on the links in the nav bar above.</p>
    </div>

</div>

{{/ content }}

{{/ base }}