{{< base }}

{{$ content }}

<div class="container">
    <div class="starter-template">
        <h1>Protected Page</h1>
        <p class="lead">Example of a page that requires user to be authenticated and authorized to access.</p>
    </div>

</div>

{{/ content }}

{{/ base }}