{{< base }}

{{$ content }}

<div class="container">
    <div class="starter-template">
        <h1>User Profile</h1>
        <p>Username: {{username}}</p>
        <p>Email: {{email}}</p>
    </div>

</div>

{{/ content }}

{{/ base }}